@using VersOne.Epub;
@if (Navigation != null)
{
    <ul>
        @foreach (var nav in Navigation)
        {
            <li @onclick="() => OpenChapter(nav)">@nav.Title (@nav.Link.ContentFilePath) (@nav.Link.ContentFileUrl)
                (@nav.Link.Anchor)</li>
            @if (nav.NestedItems != null && nav.NestedItems.Count > 0)
            {
                <EPubNavigation Navigation="@nav.NestedItems" />
            }
        }
    </ul>
}
@code {
    [Parameter] public List<EpubNavigationItem>? Navigation { get; set; }

    [Parameter] public EventCallback<EpubNavigationItem>  OnNavigation { get; set; }


    private async Task OpenChapter(EpubNavigationItem nav)
    {
        await OnNavigation.InvokeAsync(nav);
    }
}